*
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(zuu.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}
.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}
.main-nav li.active a
{
    border: 1px solid white;
}
.main-nav li a:hover
{
    border: 1px solid white;
}
body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}
.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
}
h1
{
    color:white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;

}
.button
{
    margin-top: 30px;
    margin-left: 440px;
    align-items: center;
    margin-bottom: auto;
    position: relative;
    font-size: 13px;
}

.wrapper{
    text-align: center;
    color:white;
    

}
.container{
    text-align: center;
}
h2{
    text-align: center;
    color:black;
    font-size: 40px;
}
img{
    position: absolute;
    height:300px;
    weight:600px;
}
h2{
    text-align-last: auto;
    color:white;
    text-align: center;
}
